<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/html">
<head>
    <title>Hello demo</title>
</head>
<body>
<div>
    <span th:text="helllo"></span>
    <form th:action="@{/login}" method="post" id="user">
        <div><label> User Name : <input type="text" name="username"/> </label></div>
        <div><label> Password: <input type="password" name="password"/> </label></div>
        <div><input type="submit" value="Sign In"/></div>
        <div>
            <select>
                <option th:each="role : ${roles}" th:value="${role.roleId}" th:text="${role.roleName}"></option>
            </select>
        </div>
    </form>
</div>

</body>
</html>
